body {
	margin:0;
}
.parallax {
	position:relative;
	height:100vh;
}
#home {
	background-color:black;
	background-size: cover;
	width:100%;
	height:100vh;
	top:0;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.filler {
	height:7vh;
	width:100vh;
}
.logo {
	height:65vh;
	width:65vh;
	border-radius:65vh;
	background-color:white;
	margin-left:calc((100% - 65vh)/2);
}
.titletext {
	font-family: 'Roboto Mono', monotype;
	font-size:8vh;
	color:white;
	text-align:center;
	margin-top:35vh;
}
.bubble-links {
	margin-top:1.5vh;
	display:inline-block;
	width:12vh;
	margin-left:calc((100% - 12vh)/2);
}
.bubbles {
	width:1vh;
	height:1vh;
	border-radius:1vh;
	background-color:white;
	transition:1s;
}
#bubble-market {
	background-color:red;
	float:left;
}
#bubble-upload {
	background-color:blue;
	float:right;
}
#bubble-about {
	background-color:green;
	margin:auto;
}
.bubbles:hover {
	background-color:#444444;
	transition:1s;
	cursor:pointer;
}
#about {
	background-color:#444444;
	width:100%;
	height:100vh;
}