body {
	margin:0;
} /*
#bg {
	width:100%;
	position:relative;
}
#stock-market {
	margin-top:10vh;
	width:98vw;
	height:100vh;
}
svg {
	pointer-events:none;
}
path {
  stroke-dasharray: 3000;
  animation: dash 10s linear;
  animation-direction:reverse;
}

@keyframes dash {
  to {
    stroke-dashoffset: 3000;
  }
} */
#filler {
	height:7vh;
}
#home {
	background-color:black;
	width:100%;
	height:100vh;
	top:0;
	margin-top:0;
}

@keyframes titleanimate {
	from {color: black;}
    to {color: white;}
}

.titletext {
	font-family: 'Roboto Mono', monotype;
	font-size:8vh;
	color:white;
	text-align:center;
	/*margin-top:calc(-100vh + 32vh); for svg */
	margin-top:33vh;

	animation: titleanimate 2s linear; 
}
.subtext {
	font-family: 'Roboto Mono', monotype;
	font-size:3vh;
	color:white;
	text-align:center;
	margin-top:0vh;

	animation-delay: 20s;
	animation: titleanimate 2s linear; 
}
.bubble-links {
	margin-top:1.5vh;
	display:inline-block;
	width:12vh;
	margin-left:calc((100% - 12vh)/2);
}
.bubbles {
	width:1vh;
	height:1vh;
	border-radius:1vh;
	transition:1s;
}
#bubble-market {
	background-color:red;
	float:left;
}
#bubble-upload {
	background-color:blue;
	float:right;
}
#bubble-about {
	background-color:green;
	margin:auto;
}
.bubbles:hover {
	background-color:white;
	transition:1s;
	cursor:pointer;
}
#why {
	background-color:black;
	width:100%;
	height:100vh;
}
#about {
	background-color:#444444;
	width:100%;
	height:100vh;
}
.why-title {
	width:40%;
	margin-left:5%;
	float:left;
	font-family: 'Roboto Mono', monotype;
	font-size:7vh;
	margin-top:40vh;
	text-align:center;
	color:white;
}
.why-content {
	float:right;
	color:#444444;
	font-family:'Ubuntu', sans-serif;
	margin-right:5%;
	width:45%;
	font-size:calc(2.5vh + 1vw);
	margin-top:calc(15vh + 9vw);
	text-align:center;
}
#recommendations {
	width:100%;
	height:100vh;
	background-color:#444444;
	font-family: 'Ubuntu', sans-serif;
	font-size:calc(1.5vh + 1vw);
	text-align:center;
	color:white;
}
#data {
	width:100%;
	height:100vh;
	background-color:white;
}
#stockSearch {
	width:20vw;
	height:6vh;
	margin-left:3vw;
	margin-top:6vh;
	font-family:'Ubuntu', sans-serif;
}
#searchTable {
	width:20vw;
	height:auto;
	margin-left:3vw;
	margin-top:1.5vh;
	overflow:auto;
	background-color:white;
	color:black;
	font-family:'Ubuntu', sans-serif;
	list-style-type: none;
    padding: 0;
    max-height:75vh;
}

#search {
	float:left;
}

#searchTable li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    display: block; /* Make it into a block element to fill the whole list */
    color:black;
}

#searchTable li a:hover {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    display: block; /* Make it into a block element to fill the whole list */
    color:black;
}

#right-side {
	float:right;
	width:60vw;
	margin-right:5vw;
	height:80vh;
	margin-top:6vh;
	font-family: 'Roboto Mono', monotype;
	font-size:7vh;
	color:#444444;
	text-align:center;
}

#image-area {
	height:60vh;
	width:40vw;
	margin-top:5vh;
	margin-left:10vw;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titleish {
	font-size:6vh;
	font-family: 'Roboto Mono', monotype;
	color:black;
}

#rec-content {
	width:50vw;
	margin-right:5vw;
	margin-top:calc(8vh + 2vw);
	float:right;
}

#rec-start {
	margin-left:5vw;
	margin-top:calc(7vh + 2.5vw);
	width:35vw;
	font-family: 'Roboto Mono', monotype;
	float:left;
	color:#f6f6f6;
	font-size:7vh;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #888; 
	border-radius:4px;
	transition:1s;
}

::-webkit-scrollbar-thumb:hover {
    background: #787878;
	transition:1s;
}