body {
	margin:0;
} /*
#bg {
	width:100%;
	position:relative;
}
#stock-market {
	margin-top:10vh;
	width:98vw;
	height:100vh;
}
svg {
	pointer-events:none;
}
path {
  stroke-dasharray: 3000;
  animation: dash 10s linear;
  animation-direction:reverse;
}

@keyframes dash {
  to {
    stroke-dashoffset: 3000;
  }
} */
#filler {
	height:7vh;
}
#home {
	background-color:black;
	width:100%;
	height:100vh;
	top:0;
	margin-top:0;
}

@keyframes titleanimate {
	from {color: black;}
    to {color: white;}
}

.titletext {
	font-family: 'Roboto Mono', monotype;
	font-size:8vh;
	color:white;
	text-align:center;
	/*margin-top:calc(-100vh + 32vh); for svg */
	margin-top:33vh;

	animation: titleanimate 2s linear; 
}
.subtext {
	font-family: 'Roboto Mono', monotype;
	font-size:3vh;
	color:white;
	text-align:center;
	margin-top:0vh;

	animation-delay: 20s;
	animation: titleanimate 2s linear; 
}
.bubble-links {
	margin-top:1.5vh;
	display:inline-block;
	width:12vh;
	margin-left:calc((100% - 12vh)/2);
}
.bubbles {
	width:1vh;
	height:1vh;
	border-radius:1vh;
	transition:1s;
}
#bubble-market {
	background-color:red;
	float:left;
}
#bubble-upload {
	background-color:blue;
	float:right;
}
#bubble-about {
	background-color:green;
	margin:auto;
}
.bubbles:hover {
	background-color:white;
	transition:1s;
	cursor:pointer;
}
#why {
	background-color:white;
	width:100%;
	height:100vh;
}
#about {
	background-color:#444444;
	width:100%;
	height:100vh;
}
.why-title {
	width:40%;
	margin-left:5%;
	float:left;
	font-family: 'Roboto Mono', monotype;
	font-size:7vh;
	margin-top:40vh;
	text-align:center;
}
.why-content {
	float:right;
	color:#444444;
	font-family:'Ubuntu', sans-serif;
	margin-right:5%;
	width:45%;
	font-size:calc(2.5vh + 1vw);
	margin-top:calc(15vh + 9vw);
	text-align:center;
}